:root{
    --background: #E6E6E6;
    --blue: #6094C9;
    --green: #AAC46B;
    --graytext: #8B8B8B;
    --grayoutline: rgb(209, 209, 209);
}

.notification-area{
    position: fixed;
    top: 100px;
    right: 50px;
}

.notification-num{
    width: 30px;
    height: 30px;
    background-color: rgb(231, 43, 43);
    color: white;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0.8em;
}

.notification-num span{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.75);
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--graytext);
}

.notification-box{
    width: 300px;
    height: auto;
    background-color: white;
    border: 1px solid var(--grayoutline);
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    -webkit-box-shadow: 0px 7px 18px -5px rgba(49, 49, 49, 0.75);
    -moz-box-shadow: 0px 7px 18px -5px rgba(49, 49, 49, 0.75);
    box-shadow: 0px 7px 18px -5px rgba(49, 49, 49, 0.75);
}

.notif-header{
    height: auto;
    padding: 15px;
    font-size: 0.8em;
    border-bottom: 1px solid var(--grayoutline);
    color: var(--graytext);
    font-weight: 600;
}

.notif-contents{
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}

.notif-content{
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    border: none;
    font-family: 'Century Gothic';
    font-size: 1em;
    text-align: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.notif-content:hover{
    background: rgb(233, 233, 233);
    transition: 0.2s ease-in-out;
}

.cancel-notif-type{
    height: 90px;
}

.doc-notif-type{
    height: 70px;
}

.app-notif-type{
    height: 70px;
}

.resched-notif-type{
    height: auto;
}

.notif-content span{
    max-width: 200px;
    font-size: 0.7em;
    color: rgb(94, 94, 94);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.notif-img{
    width: 40px;
    height: 40px;
    background-color: gray;
}

.seen{
    width: 10px;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.seen-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--green);
}

.no-new{
    padding: 20px;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189, 189, 189);
}

/**BOOK APPPOINTMENT**/
.dim{
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: none;
}

.book-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    background-color: white;
}

.book-header-exit{
    width: 100%;
    height: auto;
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grayoutline);
    font-weight: 400;
    color: var(--graytext);
    font-size: 0.8em;
}

.exit{
    cursor: pointer;
}

.exit:hover{
    color: red;
    transition: 0.3s ease-in-out;
}

.book-content{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-content .content-head{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.8em;
    color: var(--graytext);
}

.book-content input{
    padding: 15px;
    font-family: 'Century Gothic';
    margin-bottom: 15px;
    border: 1px solid var(--grayoutline);
    outline: none;
    cursor: text;
}

.availability{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;    
}

.availability span{
    text-align: center;
}

.available-head{
    margin-bottom: 5px;
    font-size: 0.7em;
}


.time-date{
    font-size: 0.7em;
    color: red;
}


.book-content button{
    padding: 15px;
    border: none;
    background-color: var(--blue);
    color: white;
    font-family: 'Century Gothic';
    cursor: pointer;
}

.book-content button:hover{
    background-color: var(--green);
    transition: 0.3s ease-in-out;
}

.book-content button:disabled{
    background-color: rgb(207, 207, 207);
    cursor: default;
}

/**TABLES AND CONTENTS**/
.contents{
    width: calc(100% - 350px);
    height: auto;
    position: absolute;
    z-index: -10;
    right: 0;
    top: 70px;
    padding: 50px;
}

.contents h1{
    color: gray;
    margin-bottom: 20px;
}

.appointment-container{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.billing-container{
    width: 100%;
    height: auto;
}

.document-container{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.header-table{
    margin-bottom: 30px;
    font-weight: 200;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-table .sortation{
    display: flex;
    justify-content: center;
}

.header-table .sortation select{
    padding: 10px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    font-family: 'Century Gothic';
}

.header-table .sortation button{
    outline: none;
    border: none;
    cursor: pointer;
    background: var(--blue);
    color: white;
    padding: 11px;
    font-family: 'Century Gothic';
    width: 60px;
}

.header-table .sortation button:hover{
    transition: 0.3s ease-in-out;
    background: var(--green);
}

.reload-book-btns{
    display: flex;
    justify-content: flex-end;
}

.reload-book-btns button{
    font-family: 'Century Gothic';
    background-color: var(--blue);
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
}

#book-appointment{
    margin-left: 10px;
}

.reload-book-btns button:hover{
    background-color: var(--green);
    transition: 0.3s ease-in-out;
}

.reload-book-btns button:disabled{
    background-color: rgb(196, 196, 196);
    cursor: default;
}

/**APPOINTMENT TABLE**/

.table{
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 30px;
    border: 1px solid rgb(165, 165, 165);
}

.table-header{
     width: 100%;
     height: 60px;
     display: grid;
     grid-template-columns: 1.3fr 1fr 1fr;
     border-bottom: 1px solid var(--grayoutline);
     font-size: 0.8em;
}

.table-header span{
    display: flex;
    justify-content: center;
    align-items: center;
}

/**TABLE CONTENTS**/

.no-appointments{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-weight: 600;
    color: rgb(189, 189, 189);
    text-align: center;
}

.table-content{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    border-bottom: 1px solid var(--grayoutline);
    font-size: 0.7em;
    position: relative;
}

.table-content:last-child{
    border-bottom: none;
}

.table-content:nth-child(even){
    background: rgb(241, 241, 241);
}

.two-fr{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.three-fr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.e-num{
    position: relative;
}

.e-num button{
    position: absolute;
    right: 20px;
    border: none;
    background-color: transparent;
    color: rgb(61, 61, 61);
    cursor: pointer;
}

.appointment-num{
    font-weight: bold;
    color: gray;
}

.table-content span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-content .dropdown{
    position: absolute;
    top: 45px;
    right: 30px;
    background-color: white;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    display: none;
    border: 1px solid var(--grayoutline);
    -webkit-box-shadow: 5px 5px 18px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 18px -10px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 18px -10px rgba(0,0,0,0.75);
}

.table-content .dropdown button{
    width: 100%;
    border: none;
    padding: 10px 0;
    background-color: transparent;
    font-family: 'Century Gothic';
    cursor: pointer;
}

.table-content .dropdown button:hover{
    background-color: var(--blue);
    color: white;
    transition: 0.3s ease-in-out;
}



/**TRANSACTION TABLE**/

.transaction-table{
    width: 100%;
    height: auto;
    background-color: white;
    text-align: center;
}

.transaction-header{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--grayoutline);
    font-size: 0.8em;
}

.transaction-header span{
    display: flex;
    justify-content: center;
    align-items: center;
}

/**TRANSACTION TABLE CONTENTS**/

.sample-transaction{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--grayoutline);
    font-size: 0.7em;
}

.transaction-num{
    font-weight: bold;
    color: gray;
}

.sample-transaction span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.transaction-btn{
    font-family: 'Century Gothic';
    width: 100%;
    height: 40px;
    background-color: var(--green);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-btn:hover{
    background-color: var(--blue);
    transition: 0.3s ease-in-out;
}

.transaction-btn button{
    border: none;
    background-color: transparent;
    font-family: 'Century Gothic';
    color: white;
}



/**LAB RESULT**/

.labresult-header{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    border-bottom: 1px solid var(--grayoutline);
    font-size: 1rem;
}

.labresult-header span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
}

.table-content-labresult{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    border-bottom: 1px solid var(--grayoutline);
    font-size: 1rem;
}

.table-content-labresult span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.table-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-btns a{
    width: 60%;
    padding: 10px;  
    background-color: var(--green);
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Century Gothic';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.table-btns a:hover{
    background-color: var(--blue);
    transition: 0.3s ease-in-out;
}

.table-btns a button{
    border: none;
    background-color: transparent;
    font-family: 'Century Gothic';
    color: white;
    border: none;
    cursor: pointer;
}

.details-btn{
   width: 60%;
}


.table-btns2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-btns2 button{
    padding: 10px;
    background-color: var(--green);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-family: 'Century Gothic';
}

.table-btns2 .download{
    width: auto;
}

.table-btns2 button:hover{
    background-color: var(--blue);
    transition: 0.3s ease-in-out;
}

.download{
    padding: 10px;
    background-color: var(--green);
    color: white;
    border: none;
    cursor: pointer;
}

.download:hover{
    background-color: var(--blue);
    transition: 0.3s ease-in-out;
}




/**TABLET STYLES**/

@media screen and (max-width: 927px){
    .contents{
        width: 100vw;
    }

    .dim{
        z-index: 99;
    }

    .book-container{
        width: 70%;
    }
}