body{
    font-size: 17px;
}


:root{
    --background: #E6E6E6;
    --blue: #6094C9;
    --green: #AAC46B;
    --graytext: #8B8B8B;
    --darktext: rgba(72,75,96,255);
    --boldtext: #4d4e65;
    --grayoutline: rgb(209, 209, 209);
}

input:disabled{
    background: rgb(230, 230, 230);
}

.notification-area{
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 11;
}

.notification-num{
    width: 30px;
    height: 30px;
    background-color: rgb(231, 43, 43);
    color: white;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0.8em;
}

.notification-num span{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.75);
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--graytext);
}

.notification-box{
    width: 300px;
    height: auto;
    background-color: white;
    border: 1px solid var(--grayoutline);
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 18px -5px rgba(49, 49, 49, 0.75);
    -moz-box-shadow: 0px 7px 18px -5px rgba(49, 49, 49, 0.75);
    box-shadow: 0px 7px 18px -5px rgba(49, 49, 49, 0.75);
}

.notif-header{
    height: auto;
    padding: 15px;
    font-size: 0.8em;
    border-bottom: 1px solid var(--grayoutline);
    color: var(--graytext);
    font-weight: 600;
}

.notif-contents{
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}

.notif-content{
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    border: none;
    font-size: 1em;
    text-align: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.cancel-notif-type{
    height: 70px;
}

.online-req-notif-type{
    display: flex;
    flex-direction: column;
}

.online-req-content{
    width: 100%;
    height: 80px;
    background: white;
    align-items: center;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    border: none;
    font-size: 1em;
    text-align: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.online-req-buttons{
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0px 15px;
    margin-bottom: 10px;
}

.online-req-buttons button{
    height: 100%;
    padding: 0 15px;
    border: 2px solid var(--blue);
    background: white;
    color: var(--blue);
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    -moz-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
}

.doc-notif-type{
    height: 70px;
}

.app-notif-type{
    height: 70px;
}

.chat-notif-type{
    height: 80px;
}

.resched-notif-type{
    height: auto;
}

.notif-content span, .online-req-notif-type span{
    max-width: 200px;
    font-size: 0.7em;
    color: rgb(94, 94, 94);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.notif-img{
    width: 40px;
    height: 40px;
    background-color: white;
    border: 3px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    border-radius: 5px;
}

.seen{
    width: 10px;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.seen-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--green);
}

.no-new{
    padding: 20px;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189, 189, 189);
}

/**BOOK APPPOINTMENT**/
.dim{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: none;
}

.dim-2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: none;
}

.dim-3{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: none;
}

.dim-4{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: none;
}

.dim-5{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5);
    width: 100vw;
    height: 100%;
    display: none;
    z-index: 999;
}

.view-triage-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:30%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}


.triage-details{
    font-size: 0.9em;
    padding: 30px;
    padding-top:20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 150px);
}

.triage-detail{
    height: auto;
}

.triage-detail span{
    display: block;
}

.triage-detail span:nth-child(1){
    font-weight: 600;
    color: var(--darktext);
}

.triage-detail span:nth-child(2){
    color: var(--graytext);
}

.book-header-exit{
    width: 100%;
    height: auto;
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grayoutline);
    font-weight: 400;
    color: var(--graytext);
    font-size: 0.8em;
}

.book-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 10px;
}

.bill-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    font-size: 0.9em;
}

.pay-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    font-size: 0.9em;
    text-align: center;
}

.pay-content{
    padding: 15px;
    font-size: 0.85em;
}

.pay-btns{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 45px;
}

.pay-btns button{
    height: 95%;
    padding: 0 15px;
    border: 2px solid var(--blue);
    background: white;
    color: var(--blue);
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    -moz-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
}

.pay-btns button:hover{
    border: 2px solid var(--green);
    color: var(--green);
}

.book-header-exit{
    width: 100%;
    height: auto;
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grayoutline);
    font-weight: 400;
    color: var(--graytext);
    font-size: 0.8em;
}

.exit, .exit-2{
    cursor: pointer;
}

.exit:hover, .exit-2:hover{
    color: red;
    transition: 0.3s ease-in-out;
}

.book-content{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bill-content{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}


.bill-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.bill-table{
    border: 1px solid rgb(181, 181, 181);
    overflow-y: scroll;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(87,87,87,0.15);
    -moz-box-shadow: 0px 0px 6px 2px rgba(87,87,87,0.15);
    box-shadow: 0px 0px 6px 2px rgba(87,87,87,0.15);
    margin-bottom: 20px;
}

.bill-table .bill-table-header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bill-table-header span{
    padding: 10px;
    border-bottom: 1px solid rgb(181, 181, 181);
    font-weight: 600; 
}

.bill-table-header span:nth-child(2){
    text-align: right;
}

.bill-table-body{
    height: 200px;
}

.bill-table-body .bill-item{
    border-bottom: 1px solid rgb(181, 181, 181);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bill-item span{
    padding: 10px;
}

.bill-item span:nth-child(2){
    text-align: right;
}

.bill-total-button{
    width: 100%;
}

.bill-total-button .bill-total{
    width: 100%;
    text-align: right;
}

.paypal-btn{
    margin-top: 15px;
}

.bill-total b{
    color: red;
    font-size: 1.2em;
}

.book-content .content-head{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.8em;
    color: var(--graytext);
}

.book-content input{
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid var(--grayoutline);
    outline: none;
    cursor: text;
    border-radius: 5px;
}

.row-0{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    position: relative;
}

.row-0 > div input{
    width: 100%;
}

.row-1{
    display: grid;
    grid-template-columns: 1fr 0.75fr 0.25fr 1fr;
    column-gap: 5px;
}

.row-1 select{
    height: 48px;
    padding: 10px;
    border: 1px solid var(--grayoutline);
    border-radius: 5px;
    outline: none;
}

.row-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5px;
}

.row-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.row-3, .row-4-1, .row-4-2{
    border: 1px solid var(--grayoutline);
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
    border-radius: 5px;
}

legend{
    color: rgb(83, 83, 83);
    background: white;
    padding: 10px;
}

.inline-block{
    display: inline-block;
    margin-right: 15px;
}

.inline-block input{
    cursor: pointer;
}

.row-5{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}


.availability{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;  
}

.availability span{
    text-align: center;
}

.available-head{
    margin-bottom: 5px;
    font-size: 0.7em;
}


.time-date{
    font-size: 0.7em;
    color: red;
}


.book-content button{
    border: 2px solid var(--blue);
    background: white;
    color: var(--blue);
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    -moz-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
}

.book-content button:hover{
    border: 2px solid var(--green);
    color: var(--green);
    transition: 0.3s ease-in-out;
}

.book-content button:disabled{
    border: 2px solid rgb(190, 190, 190);
    background: rgb(228, 228, 228);
    color: rgb(190, 190, 190);
    cursor: default;
}

/**TABLES AND CONTENTS**/
.contents{
    width: 100%;
    height: auto;
    padding: 50px;
    padding-top: 60px;
}

.contents h1{
    color: var(--boldtext);
    margin-top: 30px;
    margin-bottom: 0px;
}

.appointment-container{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.billing-container{
    width: 100%;
    height: auto;
}

.document-container{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.header-table{
    margin-bottom: 30px;
    font-weight: 400;
    color: var(--darktext);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-table .sortation{
    display: flex;
    justify-content: center;
}

.header-table .sortation select{
    padding: 10px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}

.header-table .sortation button{
    border: 2px solid var(--blue);
    background: white;
    color: var(--blue);
    border-radius: 5px;
    padding: 10px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    -moz-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
}

.header-table .sortation button:hover{
    border: 2px solid var(--green);
    color: var(--green);
    transition: 0.3s ease-in-out;
}

.reload-book-btns{
    display: flex;
    justify-content: space-between;
}

.reload-book-btns button{
    border: 2px solid var(--blue);
    background: white;
    color: var(--blue);
    border-radius: 5px;
    padding: 15px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    -moz-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
}

#book-appointment{
    margin-left: 10px;
}

.reload-book-btns button:hover{
    border: 2px solid var(--green);
    color: var(--green);
    transition: 0.3s ease-in-out;
}

.reload-book-btns button:disabled{
    border: 2px solid rgb(190, 190, 190);
    background: rgb(228, 228, 228);
    color: rgb(190, 190, 190);
    cursor: default;
}

.book-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.book-buttons button{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
}
/**APPOINTMENT TABLE**/

.table{
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
}

.table-header{
     width: 100%;
     height: 60px;
     display: grid;
     grid-template-columns: 1.3fr 1fr 1fr;
     border-bottom: 1px solid var(--grayoutline);
     font-size: 0.8em;
     font-weight: 600;
}

.table-header span{
    display: flex;
    justify-content: center;
    align-items: center;
}

/**TABLE CONTENTS**/

.no-appointments{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-weight: 600;
    color: rgb(189, 189, 189);
    text-align: center;
}

.table-content{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    border-bottom: 1px solid var(--grayoutline);
    font-size: 0.7em;
    position: relative;
}

.table-content:last-child{
    border-bottom: none;
}

.two-fr{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.three-fr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.e-num{
    position: relative;
}

.e-num button{
    position: absolute;
    right: 20px;
    border: none;
    background-color: transparent;
    color: rgb(61, 61, 61);
    cursor: pointer;
}

.appointment-num{
    font-weight: bold;
    color: gray;
}

.table-content span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-content .dropdown{
    position: absolute;
    top: 45px;
    right: 30px;
    background-color: white;
    min-width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 10;
    display: none;
    border: 1px solid var(--grayoutline);
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 18px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 18px -10px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 18px -10px rgba(0,0,0,0.75);
}

.table-content .dropdown button{
    width: 100%;
    border: none;
    background: white;
    padding: 10px 0;
    cursor: pointer;
}

.table-content .dropdown button:hover{
    border: 2px solid var(--blue);
    color: var(--blue);
    border-radius: 10px;
}

.online-req{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--grayoutline);
    width: 300px;
}

.online-req span{
    padding: 15px;
    font-size: 1.2em;
    text-align: center;
    color: red;
}

.online-req div{
    display: flex;
}

.reload-all{
    width: 150px;
    display: flex;
    align-items: center;
}

.reload-all #offset, .reload-all #offset-lab{
    display: none;
}

#offset-app, #offset-trans{
    display:none;
}

#page-num-app, #page-num-trans{
    margin: 0 15px;
}

.reload-all button{
    cursor: pointer;
    outline: none;
    border: 2px solid var(--blue);
    background: white;
    color: var(--blue);
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    -moz-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    transition: 0.3 ease-in-out;
}

.reload-all button:hover{
    border: 2px solid var(--green);
    color: var(--green);
    transition: 0.3s ease-in-out;
}

.reload-all #page-num, .reload-all #page-num-lab{
    padding: 8px;
    width: 40px;
    text-align: center;
}


/**TRANSACTION TABLE**/

.transaction-table{
    width: 100%;
    height: auto;
    background-color: white;
    text-align: center;
}

.transaction-header{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--grayoutline);
    font-size: 0.8em;
    font-weight: 600;
}

.transaction-header span{
    display: flex;
    justify-content: center;
    align-items: center;
}

/**TRANSACTION TABLE CONTENTS**/

.sample-transaction{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--grayoutline);
    font-size: 0.7em;
}

.transaction-num{
    font-weight: bold;
    color: gray;
}

.sample-transaction span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.sample-transaction button{
    border: 2px solid var(--blue);
    background: white;
    color: var(--blue);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    -moz-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
}

.sample-transaction button:hover{
    border: 2px solid var(--green);
    color: var(--green);
    transition: 0.3s ease-in-out;
}

#prev5:disabled{
    border: 2px solid var(--blue);
    color: var(--blue);
    background: white;
}


/**LAB RESULT**/

.labresult-header{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    border-bottom: 1px solid var(--grayoutline);
    font-size: 1rem;
}

.labresult-header span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
}

.table-content-labresult{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    border-bottom: 1px solid var(--grayoutline);
    font-size: 0.9rem;
}

.table-content-labresult span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.table-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-btns a{  
    width: 60%;
    padding: 10px;  
    background-color: var(--green);
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.table-btns a:hover{
    background-color: var(--blue);
    transition: 0.3s ease-in-out;
}

.table-btns a button{
    border: none;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.details-btn{
   width: 60%;
}


.table-btns2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-btns2 button{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 2px solid var(--blue);
    background: white;
    color: var(--blue);
    border-radius: 5px;
    padding: 10px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    -moz-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
    box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.22);
}

.table-btns2 .download{
    width: auto;
}

.table-btns2 button:hover{
    border: 2px solid var(--green);
    color: var(--green);
    transition: 0.3s ease-in-out;
}

.download{
    padding: 10px;
    background-color: var(--green);
    color: white;
    border: none;
    cursor: pointer;
}

.four-fr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.five-fr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.green-text{
    color: green;
}

.red-text{
    color: red;
}

.orange-text{
    color: orange;
}

.swal2-popup{
    font-size: 0.9em;
}

.row-0 > div > div{
    display: none;
}

.time-autocomplete{
    width: 200px;
    max-height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.75);
}

.time-autocomplete button{
    padding: 10px;
    border: none;
    font-weight: 600;
    border-radius: 0px;
    border-radius: 10px;
    box-shadow: none;
}

.time-autocomplete button:hover{
    border: 1px solid var(--green);
}

.time-autocomplete button:disabled{
    border: none;
    border-radius: 0px;
    background: rgb(228, 228, 228);
    color: rgb(190, 190, 190);
    cursor: default;
}


/*BIG DEVICES*/
@media (max-width: 1199.98px) {
    .contents{
        padding: 30px;
        padding-top: 40px;
    }

    .table-header span{
        text-align: center;
    }

    .table-content span{
        text-align: center;
        min-width: 0;
        min-height: 0;
        word-wrap: break-word;
        word-break: break-all;
        padding: 10px;
    }
}


/* TABLET DEVICES*/
@media (max-width: 767.98px) {
    body{
        font-size: 15.5px;
    }

    .notification-area{
        top: 70px;
        right: 20px;
    }

    .contents{
        padding: 30px;
        padding-top: 40px;
    }

    .table-header span, .table-content span, .transaction-header span{
        text-align: center;
        min-width: 0;
        min-height: 0;
        word-wrap: break-word;
        word-break: break-all;
        padding: 10px;
    }

    .reload-all{
        margin-bottom: 30px;
    }

    .reload-book-btns{
        display: flex;
        flex-direction: column;
    }

    .reload-book-btns div:nth-child(2){
        display: flex;
        justify-content: flex-end;
    }
}


/*PHONE DEVICES*/

@media (max-width: 575.98px) { 
    body{
        font-size: 14px;
    }
}