:root{
    --background: #E6E6E6;
    --blue: #6094C9;
    --green: #AAC46B;
    --graytext: #8B8B8B;
    --grayoutline: rgb(209, 209, 209);
}

.notification-area{
    position: fixed;
    top: 100px;
    right: 50px;
}

.notification-num{
    width: 30px;
    height: 30px;
    background-color: rgb(231, 43, 43);
    color: white;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0.8em;
}

.notification-num span{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.75);
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--graytext);
}

.notification-box{
    width: 300px;
    height: auto;
    background-color: white;
    border: 1px solid var(--grayoutline);
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}

.notif-header{
    height: auto;
    padding: 15px;
    font-size: 0.8em;
    border-bottom: 1px solid var(--grayoutline);
    color: var(--graytext);
    font-weight: 600;
}

.notif-content{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--grayoutline);
    display: flex;
    align-items: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.resched-notif-type{
    height: auto;
}

.notif-content span{
    width: 180px;
    font-size: 0.7em;
    color: rgb(94, 94, 94);
    display: flex;
    justify-content: center;
}

.notif-img{
    width: 40px;
    height: 40px;
    background-color: gray;
}

.seen{
    width: 10px;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.seen-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--green);
}

.notif-see-all{
    width: 100%;
    height: 50px;
    color: white;
    font-size: 0.8em;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.no-new{
    padding: 20px;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189, 189, 189);
}

.employee-contents{
    width: calc(100% - 350px);
    height: auto;
    position: absolute;
    z-index: -10;
    right: 0;
    top: 70px;
    padding: 50px;
}

.e-contents-header{
    color: gray;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.e-contents-header-app{
    color: gray;
    margin-bottom: 20px;
}

.no-appointments{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-weight: 600;
    color: rgb(189, 189, 189);
    text-align: center;
}

.document-header-btn{
    display: flex;
    justify-content: space-between;
}

.document-header-btn button{
    background-color: var(--blue);
    padding: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-family: 'Century Gothic';
}

.document-header-btn i{
    margin-left: 10px;
}

.document-header-btn button:hover{
    background-color: var(--green);
    transition: 0.3s ease-in-out;
}

.e-contents-header-app h1{
    margin-bottom: 10px;
}

.e-contents-header-app h2{
    font-weight: 200;
}

.e-contents-header input{
    padding: 10px;
    font-family: 'Century Gothic';
    border: 1px solid var(--grayoutline);
    outline: none;
    width: 25%;
}

.e-contents-header h1{
    margin-bottom: 10px;
}

.e-contents-header h2{
    font-weight: 200;
}

.e-contents-table{
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 40px;
    border: 1px solid rgb(175, 175, 175);
}

.empty{
    padding: 20px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189, 189, 189);
}

/*TABLE*/

.e-contents-header-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--grayoutline);
}

.e-contents-header-table span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    font-size: 0.8em;
    text-align: center;
}

.e-contents-header-table-docs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid var(--grayoutline);
}

.e-contents-header-table-docs span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    font-size: 0.8em;
    text-align: center;
}

.e-contents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--grayoutline);
    text-align: center;
    position: relative;
}

.e-contents span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    font-size: 0.7em;
}

.three-fr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.three-fr:nth-child(odd){
    background: rgb(241, 241, 241);
}

.e-contents .orange-text{
    color: orange;
}

.e-contents .green-text{
    color: green;
}

.e-contents .red-text{
    color: red;
}

.e-contents .e-num{
    position: relative;
}

.e-contents .e-num button{
    position: absolute;
    right: 20px;
    border: none;
    background-color: transparent;
    color: rgb(61, 61, 61);
    cursor: pointer;
}



.e-contents div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e-contents div a{
    padding: 10px;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.e-contents .dropdown{
    position: absolute;
    top: 45px;
    right: 30px;
    background-color: white;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    display: none;
    border: 1px solid var(--grayoutline);
    -webkit-box-shadow: 5px 5px 18px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 18px -10px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 18px -10px rgba(0,0,0,0.75);
}

.e-contents .dropdown button{
    width: 100%;
    border: none;
    padding: 10px 0;
    background-color: transparent;
    font-family: 'Century Gothic';
    cursor: pointer;
    color: black;
}

.e-contents .dropdown button:hover{
    background-color: var(--blue);
    color: white;
    transition: 0.3s ease-in-out;
}

.e-contents div .view{
    margin-right: 10px;
    width: 40%;
}

.e-contents button{
    padding: 10px;
    border: none;
    color: white;
    font-family: 'Century Gothic';
    outline: none;
    background: var(--blue);
    cursor: pointer;
}

.e-contents button:hover{
    background: var(--green);
    transition: 0.3s ease-in-out;
}

.e-contents .e-num button:hover{
    background: transparent;
}

.e-contents div a:hover{
    background-color: var(--blue);
    transition: 0.3s ease-in-out;
}

.e-contents div a button{
    background-color: transparent;
    color: white;
    font-family: 'Century Gothic';
    border: none;
    cursor: pointer;
}

.reload-all{
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin-bottom: 30px;
}

.reload-all button{
    font-family: 'Century Gothic';
    background-color: var(--blue);
    padding: 14px;
    width: 150px;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-left: 15px;
}

.reload-all button:hover{
    background-color: var(--green);
    transition: 0.2s ease-in-out;
}

.h2-sortation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sortation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.sortation-select{
    padding: 10px;
    outline: none;
    border: 1px solid var(--grayoutline);
    margin-right: 10px;
    cursor: pointer;
}


.sortation button{
    height: 100%;
    padding: 0px 20px;
    border: none;
    background: var(--blue);
    color: white;
    font-family: 'Century Gothic';
    cursor: pointer;
}

.sortation button:hover{
    background-color: var(--green);
    transition: 0.2s ease-in-out;
}

/**BOOK APPOINTMENT MANUAL**/

.dim{
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: none;
}

.book-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    background-color: white;
}

.book-header-exit{
    width: 100%;
    height: auto;
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grayoutline);
    font-weight: 400;
    color: var(--graytext);
    font-size: 0.8em;
}

.exit{
    cursor: pointer;
}

.exit:hover{
    color: red;
    transition: 0.3s ease-in-out;
}

.book-content-doctor{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-content-doctor .content-head{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.8em;
    color: var(--graytext);
}

.book-content-doctor input{
    padding: 15px;
    font-family: 'Century Gothic';
    margin-bottom: 15px;
    border: 1px solid var(--grayoutline);
    outline: none;
    cursor: text;
}

.availability{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;    
}

.availability span{
    text-align: center;
}

.available-head{
    margin-bottom: 5px;
    font-size: 0.7em;
}


.time-date{
    font-size: 0.7em;
    color: red;
}


.book-content-doctor #book-doctor{
    padding: 15px;
    border: none;
    background-color: var(--green);
    color: white;
    font-family: 'Century Gothic';
    cursor: pointer;
}

.book-content-doctor #book-doctor:hover{
    background-color: var(--blue);
    transition: 0.3s ease-in-out;
}

.book-content-doctor #book-doctor:disabled{
    background-color: rgb(207, 207, 207);
    cursor: default;
}

.search-patient{
    width: 100%;
    position: relative;
}

.search-patient input{
    width: 100%;
}

#plist-search{
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
    max-height: 230px;
    width: 100%;
    position: absolute;
    top: 47px;
    display: none;
    overflow-y: scroll;
}

.search-results{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: none;
    padding: 15px;
    font-family: 'Century Gothic';
    cursor: pointer;
}

.search-results:hover{
    background-color: rgb(230, 230, 230);
}

.search-results span{
    text-align: center;
}

#appointment-type{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--grayoutline);
    font-family: 'Century Gothic';
    outline: none;
    cursor: pointer;
}

/**PATIENTS**/
.e-contents-table-patients{
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 40px;
}

.e-contents-header-table-patients{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--grayoutline);
}

.e-contents-header-table-patients span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    font-size: 0.8em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.e-contents-patients{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--grayoutline);
}

.e-contents-patients span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    font-size: 0.7em;
    text-align: center;
}


.e-contents-patients div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.e-contents-patients div a {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    width: 40%;
    cursor: pointer;
}

.e-contents-patients div a:hover{
    background-color: var(--blue);
    transition: 0.3s ease-in-out;
}

.e-contents-patients div a button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-family: 'Century Gothic';
}


/**DOCUMENTS**/

.add-document-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0, .5);
    display: none;
}

.document-upload-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    z-index: 2;
    background: white;
    display: none;
}

.document-upload-exit{
    width: 100%;
    height: auto;
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grayoutline);
    font-weight: 400;
    color: var(--graytext);
    font-size: 0.8em;
}

.exit{
    cursor: pointer;
}

.exit:hover{
    color: red;
    transition: 0.3s ease-in-out;
}

.p-name-documents{
    position: relative;
    margin-bottom: 15px;
}


.p-name-documents input{
    width: 100%;
}

.portal-registered-checkbox{
    display: flex;
    justify-content: flex-end;
}

.portal-registered-checkbox .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}

.portal-registered-checkbox .checkbox input{
    width: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.portal-registered-checkbox .checkbox2{
    display: flex;
    justify-content: center;
    font-size: 14px;
    width: 200px;
    height: auto;
}

.portal-registered-checkbox .checkbox2 label{
    height: auto;
}

.portal-registered-checkbox .checkbox2 input{
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer;
}

.p-name-documents-autocomplete{
    position: absolute;
    width: 100%;
    max-height: 94px;
    top: 79px;
    border: 1px solid var(--grayoutline);
    background: white;
    overflow-y: scroll;
}

.upload-document-content{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upload-document-content .content-head{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.8em;
    color: var(--graytext);
}

.upload-document-content input{
    padding: 15px;
    font-family: 'Century Gothic';
    margin-bottom: 15px;
    border: 1px solid var(--grayoutline);
    outline: none;
    cursor:text;
}

.p-name-documents input{
    margin-bottom: 0;
}

.upload-document-content select{
    padding: 15px;
    font-family: 'Century Gothic';
    margin-bottom: 15px;
    border: 1px solid var(--grayoutline);
    outline: none;
    cursor: pointer;
}

.document-upload-btns{
    display: flex;
    justify-content: space-between;
}

.document-upload-btns button{
    padding: 15px;
    border: none;
    background-color: var(--blue);
    color: white;
    font-family: 'Century Gothic';
    cursor: pointer;
    width: 45%;
}

#file-to-database{
    display: none;
}

.document-upload-btns span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.document-upload-btns button:hover{
    background-color: var(--green);
    transition: 0.3s ease-in-out;
}

.document-upload-btns button:disabled{
    background-color: rgb(207, 207, 207);
    cursor: default;
}

.result-autocomplete{
    width: 100%;
    height: auto;
    padding: 15px;
    border: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Century Gothic';
    background: white;
    cursor: pointer;
}

.result-autocomplete:hover{
    background:rgb(230, 230, 230);
}

#patient-error{
    width: 100%;
    text-align: center;
    color: red;
    font-size: 14px;
    padding-bottom: 15px;
    display: none;
}

#file{
    display: none;
}

/**TABLET STYLES**/

@media screen and (max-width: 927px){
    .employee-contents{
        width: 100vw;
    }

}